.middle{
  display: flex;
  justify-content: space-between;
}

img{
  height: 220px;
}
.graybox{
  width: 95%;
  height: 400px;
  margin: auto;
  background-color: lightgray;
  padding: 30px;
  border-radius: 5px;
}
.store{
  background-color: black;
  height: 300px;
  color: white;
  border-radius: 5px;
  justify-content: center;
  padding: 5px;
  display: flex;
}
